<p>
  Ihnen wurde eine E-Mail mit einem Link geschickt, damit Sie bestätigen, dass die E-Mail-Adresse zu Ihnen gehört.
</p>

<p class="icon_box note">
  Falls Sie diese E-Mail nicht innerhalb von einer Stunde erhalten sollten, <%= link_to 'überprüfen Sie bitte Ihre eingegebene Email-Adresse', :action => 'confirm_email_form' %> oder den Inhalt Ihres Spamordners.
</p>
