<p>
  An e-mail with a link to confirm that your e-mail address belongs to your person has been sent to you.
</p>

<p class="icon_box note">
  If you don't receive this e-mail within one hour, please <%= link_to 'check the email address you\'ve supplied', :action => 'confirm_email_form' %> or your spam folder content.
</p>
