<div class="icon_box check_yes">
  <p>
    <strong>Your payment was successful!</strong><br />
    Your account is now activated and ready to use.
  </p>
  <p>
    <%= gogif %> <%= link_to 'Enjoy working with prometheus', default_location(:start) %>!
  </p>
</div>
