<div class="icon_box check_no">
  <p>
    <strong>Es tut uns Leid, Ihre Zahlung war nicht erfolgreich.</strong><br />
    Leider ist Ihre Zahlung fehlgeschlagen. Sollten Sie Hilfe bei der
    Zahlungsabwicklung benötigen, zögern sie nicht,
    <%= link_to 'uns zu kontaktieren', home_url('contact') %>.<br />
    Einen erneuten Zahlungsprozess <%= link_to 'können Sie hier starten', :action => 'license' %>.
  </p>
</div>
