<div class="icon_box check_yes">
  <p>
    <strong>Ihre Zahlung war erfolgreich!</strong><br />
    Ihr Zugang ist nun aktiviert und kann von Ihnen ab sofort verwendet werden.
  </p>
  <p>
    <%= gogif %> <%= link_to 'Wir wünschen Ihnen viel Spaß beim Arbeiten mit prometheus', default_location(:start) %>!
  </p>
</div>
