<div class="icon_box waiting">
  <p>
    <strong>Waiting for payment to be confirmed by the service provider.</strong><br />
    This can take a few minutes. If you don't want to wait on this page until the payment process is finally completed, you dont have to. You will get an e-mail once your account is activated.
  </p>
  <p>
    No change for too long (more than 30 minutes)? If you have any questions,
    <%= link_to 'please contact us', home_url('contact') %>.<br />
    You can start a <%= link_to 'new payment process here', :action => 'license' %>.
  </p>
</div>
