<div class="icon_box waiting">
  <p>
    <strong>Warte auf Zahlungsbestätigung durch den Zahlungsdienst.</strong><br />
    Dies kann einige Minuten in Anspruch nehmen. Wenn Sie nicht auf dieser Seite warten möchten, bis der Vorgang komplett abgeschlossen ist, ist dies auch nicht nötig. Sie erhalten eine E-Mail, sobald Ihr Zugang freigeschaltet wurde.
  </p>
  <p>
    Es tut sich schon viel zu lange (über 30 Minuten) nichts? Bei Fragen zögern
    Sie nicht, <%= link_to 'uns zu kontaktieren', home_url('contact') %>.<br />
    Sie können hier <%= link_to 'einen neuen Zahlungsprozess starten', :action => 'license' %>.
  </p>
</div>
