<div class="icon_box check_no">
  <p>
    <strong>Sorry, your payment was not successful.</strong><br />
    Unfortunately, your payment failed for some reason. If you need any help
    with the payment process,
    <%= link_to 'please contact us', home_url('contact') %>.<br />
    You can start a <%= link_to 'new payment process here', :action => 'license' %>.
  </p>
</div>
