<p>
  Die <span class="prometheus">prometheus</span>-Gesch채ftsstelle wurde 체ber
  Ihre Registrierung informiert. Wir werden Ihnen in K체rze eine Rechnung 체ber
  <strong>45 EUR</strong>
  zusenden und Ihren Zugang freischalten.
</p>
