<p>
  You can use the image archive for free if you are associated with a
  <!-- REWRITE: capitalization matters here, now -->
  <%#= link_to 'licensed institution', :controller => 'Institution', :action => 'licensed' %>
  <%= link_to 'licensed institution', :controller => 'institutions', :action => 'licensed' %>
  or via a single license for 30 EUR per year.
</p>
<p>
  In order to get a test account, please choose "One week free trial" and fill out the form. We'll activate your account, once your research interest has been checked.
</p>
