<p>
  If your payment has suceeded but you should not have access to the image archive after a short period of time the payment process needs to finish, please contact the prometheus office. We will assist you with the matter.
</p>