<p>
  Sie haben die Möglichkeit, das Bildarchiv kostenlos zu nutzen, wenn Sie
  einer <%= link_to 'lizenzierten Institution', :controller => 'institutions', :action => 'licensed' %>
  angehören oder Sie erwerben eine Einzellizenz für 30 EUR pro Jahr.
</p>
<p>
  Um einen Testzugang zu erhalten, wählen Sie bitte die Option „Eine Woche kostenlos testen“ und füllen Sie das Formular aus. Nach Überprüfung Ihres Forschungsinteresses werden Sie aktiviert.
</p>
