<p>
  The <span class="prometheus">prometheus</span> office has been informed
  about your registration. We will send you an invoice note about
  <strong>45 EUR</strong>
  and activate your account.
</p>
