<p>
  <strong>
    Please send by email your verification (student ID or similar)
    to one of the following local administrators in order to prove
    your affiliation to your institution!
  </strong>
</p>

<br class="vspace1" />

<fieldset>
  <% admins = @institution.active_admins -%>
  <legend><strong>Local administrators:</strong></legend>
  <% if admins.blank? -%>
  <% unless @user.useradmin_like? -%>
    There is no administrator at your institution.<br />
  <% end -%>
    You will receive your account from the <span class="prometheus">prometheus</span> office.<br />
    Please send your verification (student ID or similar) by e-mail, by fax or by mail to the
    <%= link_to 'prometheus office', home_url('contact') %>.
  <% else -%>
    <ul>
    <% for admin in admins -%>
      <li><%= link_to_admin_profile_with_email(admin) %></li>
    <% end -%>
    </ul>
  <% end -%>
</fieldset>
