<p>
  Wenn Sie Ihre Zahlung erfolgreich durchführen konnten aber nach einer kurzen Zeit, die der Vorgang abschließend benötigt, noch keinen Zugang zum prometheus-Bildarchiv haben, informieren Sie bitte die prometheus-Geschäftsstelle. Wir werden Ihnen schnellstmöglich weiterhelfen.
</p>