<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>Prometheus</title>

    <%= stylesheet_link_tag '/ng.styles' %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>

    <%= javascript_include_tag '/ng.app' %>
  </body>
</html>
