<% compact = defined?(compact) && compact -%>
<%= check_box_tag 'accepted', '1', params[:accepted] %> <label for="accepted"><%= (compact ? 'I accept the %(terms of use)%' : 'I read the %(terms of use)% carefully and agree') / lambda { |a| link_to(a, public_path_for("docs/terms_of_use#{Locale.ext(true)}.pdf", host: true), :target => '_blank') } %></label>
