<p class="icon_box note">
  Falls Sie diese E-Mail nicht innerhalb von einer Stunde erhalten sollten, überprüfen
  Sie bitte Ihren Spamordner oder <% if login -%>loggen Sie sich ins Bildarchiv ein<% else -%>versuchen Sie es erneut<% end -%>.
</p>

<p>
  Bei Fragen oder Problemen wenden Sie sich bitte an die <span class="prometheus">prometheus</span>-Geschäftsstelle:
  <%= mail_to INFO_ADDRESS %>.
</p>
