<p class="icon_box note">
  If you don't receive this e-mail within 1 hour, please check your spam
  folder or <% if login -%>log in to the image archive<% else -%>try again<% end -%>.
</p>

<p>
  If you have any questions or problems, please contact the <span class="prometheus">prometheus</span> office:
  <%= mail_to INFO_ADDRESS %>.
</p>
