<p>
  Bitte geben Sie unten Ihren Benutzernamen oder Ihre E-Mail-Adresse
  ein. Ihnen wird dann eine E-Mail geschickt mit einem Link zu einer
  Seite, auf der Sie das Passwort für Ihren Zugang neu setzen können.
</p>

<%= render partial: 'accounts/email_notice', locals: {login: false} %>