<p>
  Please enter your user name or e-mail address below. An e-mail will
  be sent to you that contains a link to a page where you can set a new
  password for your account.
</p>

<%= render partial: 'accounts/email_notice', locals: {login: false} %>
