<table style="display:block; width:100%; max-width:600px; background-color:#CCCCCC; color:#303030; font-family:Arial,Helvetica,sans-serif; font-size:14px; line-height:150%;">
<tr><td style="vertical-align:top; padding:10px;">
<hr />
prometheus - Das verteilte digitale Bildarchiv f&uuml;r Forschung &amp; Lehre<br/>
c/o Kunsthistorisches Institut der Universit&auml;t zu K&ouml;ln<br/>
Albertus-Magnus-Platz, D-50923 K&ouml;ln<br/>
Tel.: +49 (0)221 470-4476, E-Mail: <%= mail_to ENV['PM_INFO_ADDRESS'] %><br/>
<%= link_to ENV['PM_HOME_URL'], ENV['PM_HOME_URL'] %>
</td></tr>
</table>
</td></tr>
</table>
