<h2>Über Pandora</h2>

<p>
  "<span class="pandora">pandora</span> – Die Software von
  <span class="prometheus">prometheus</span>, dem digitalen Bildarchiv" ist
  die Nachfolgerin von <a href="http://old.hki.uni-koeln.de/kleio/">kleio</a>
  und die treibende Kraft hinter dem
  <%= link_to home_url do %>
    <span class="prometheus">prometheus</span>-Bildarchiv
  <% end %>
  <span class="pandora">pandora</span> wird seit Herbst 2006 auf der Basis von
  <a href="http://rubyonrails.org/">Ruby on Rails</a> entwickelt und steht als
  <a href="http://www.gnu.org/philosophy/free-sw.html">Freie Software</a>
  unter den Bedingungen der
  <a href="http://www.gnu.org/licenses/#AGPL">GNU Affero General Public License</a>
  zur Verfügung.
</p>

<p>
  Bitte melden Sie uns Probleme oder Vorschläge auf unserer
  <a href="mailto:<%= DEVEL_ADDRESS %>">Mailing-Liste</a>.
</p>

<%= render :partial => 'about' %>
