<h2>About pandora</h2>

<p>
  "<span class="pandora">pandora</span> –
  The <span class="prometheus">prometheus</span> digital image archive software"
  is the successor to <a href="http://old.hki.uni-koeln.de/kleio/">kleio</a>
  as the driving force behind the
  <%= link_to home_url do %>
    <span class="prometheus">prometheus</span> image archive
  <% end %>
  It's being developed since late fall of 2006, on top of the
  <a href="http://rubyonrails.org/">Ruby on Rails</a> framework.
  <span class="pandora">pandora</span> is
  <a href="http://www.gnu.org/philosophy/free-sw.html">Free Software</a>,
  released under the terms of the
  <a href="http://www.gnu.org/licenses/#AGPL">GNU Affero General Public License</a>.
</p>

<p>
  Please report problems or suggestions on our
  <a href="mailto:<%= DEVEL_ADDRESS %>">mailing list</a>.
</p>

<%= render :partial => 'about' %>
