<%= page_title %>

<p>Vielen Dank für Ihre Anmeldung zur Tagung „Daten^7 – Digitales BilderLeben"
am 1./2. Oktober 2019 in Köln.</p>

<p>
  <%= link_to '» Register an additional participant'.t, action: 'conference_signup' %><br>
  <%= link_to '» Conference page'.t, 'http://prometheus-bildarchiv.de/tagung2019/index' %>
</p>
