<h2>No cookies...</h2>

<p>
  <strong>Sorry, you need to have cookies enabled in order to use the
  <span class="prometheus">prometheus</span> image archive!</strong>
</p>

<p>
  Please allow to set session cookies for the domain <strong><%= @domain %></strong>
  and <%= link_to 'reload', @current_page %> this page.
</p>

<p>
  In case you don't know how to achieve this, you will find assistance in our
  <%= link_to 'FAQs', home_url('faq') %>.
</p>
