<h2>404 - <%= @controller_title = 'File not found' %></h2>

<p>
  Sorry, the page you were trying to access could not be found!
</p>

<p>
  Hopefully one of these pages will get you back on track:
  <ul>
    <li><a href="http://prometheus-bildarchiv.de">The prometheus Homepage</a></li>
    <li><a href="http://prometheus.uni-koeln.de/pandora">The prometheus Image Archive start page</a></li>
    <li><a href="http://prometheus.uni-koeln.de/pandora/sitemap">The prometheus Image Archive sitemap</a></li>
    <li>
      <a href="javascript:history.back()">Or try going back to the page you were coming from</a>
      (<noscript>requires JavaScript to be enabled; </noscript>alternatively, just hit your browser's back-button)
    </li>
  </ul>
</p>

<p>
  Anyway, a short note would be greatly appreciated: <a href="mailto:info@prometheus-bildarchiv.de">info@prometheus-bildarchiv.de</a>.
</p>
