<p class="icon_box note">
  Unsere Nutzungsbedingungen haben sich geändert, seit Sie sie zuletzt akzeptiert haben. Bitte akzeptieren Sie sie erneut bevor Sie fortfahren.
</p>

<b>Änderungsübersicht</b>
<ul>
  <li>
    Lizenzkündigung (betrifft nur Einzellizenzen): unter Punkt 7 (Vertragsdauer, Kündigung) finden Sie nun den Hinweis, dass Einzellizenzen für die Dauer der Nutzung ordentlich nicht kündbar sind, sie laufen automatisch aus. Eine Kündigung ist nicht notwendig.
  </li>
</ul>
