<p class="icon_box note">
  Our terms of use have changed since you last accepted them. Please accept them again before you proceed.
</p>

<b>Changes Overview</b>
<ul>
  <li>
    License termination (affecting individual licenses only): under point 7 (Contract duration, cancellation) you will now find the information that individual licenses cannot be terminated properly for the duration of use, they expire automatically. There is no cancellation necessary.
  </li>
</ul>
