<hr />
<h3><%= 'Preview'.t %><% if personalized -%> (<%= 'personalized'.t %>)<% end -%></h3>
<% to, user = personalized && @email.individual? ? current_user.email : @email.recipients, personalized ? current_user : nil -%>

<%
  mail = MassMailer.with(
    email: @email,
    to: to,
    user: user,
    by: @email.sender(current_user)
  ).email
%>
<pre><%=h mail %></pre>
