<p>
  Ihnen wurde eine E-Mail mit einem Link geschickt, damit Sie bestätigen,
  dass Sie den Newsletter erhalten möchten.
</p>

<%= render :partial => 'accounts/email_notice', :locals => { :login => false } %>
