<div class="submit_button_wrap float-right pm-pagination-go">
  <div class="scriptonly">
    <div class="button_wrap submit_button go_button">
      <div class="button_left"></div>
      <div class="button_icon"></div>
      <div class="button_middle"><%= text %></div>
      <div class="button_right"></div>
    </div>
  </div>
</div>
