<br />

<p>
  <strong>Did you know?</strong> If you don't have a personal account yet, you can
  <%= link_to 'sign up', signup_path %> for one <strong>for free</strong>!
  Just select your institution <% if @institution -%><code><%= @institution.shorttitle %></code><% end -%>
  on the signup form and benefit from the advantages of a personal account such as image collections and
  presentations. You also won't have to accept the terms of use each time you log into the image archive.
</p>
