// own variables
$black: #1e1e1e;
$orange: #ee9933;

// bootstrap overrides, see
// node_modules/bootstrap/scss/_variables.scss
$enable-rounded: false;
$input-btn-focus-width: 0;
$headings-font-family: Linotype;
$headings-color: $orange;
$enable-responsive-font-sizes: true;
