<table>
  <%= render :partial => 'object_file', :locals => { :f => f } %>
  <%= render :partial => 'object_title', :locals => { :f => f } %>
</table>
<%= render :partial => 'object_rights', :locals => { :f => f } %>
