<tr>
  <th style="vertical-align: top; padding-top: 7px;"><%= 'Created at'.t %></th>
  <td class="created_at-field" style="border-top: 2px dotted #505050; padding-top: 5px;"><%= I18n.l(super_image.upload.created_at, format: :long) %></td>
</tr>
<tr>
  <th style="vertical-align: top;"><%= 'Updated at'.t %></th>
  <td class="created_at-field"><%= I18n.l(super_image.upload.updated_at, format: :long) %></td>
</tr>
