<%= render_sections %w[header] %>

<%= error_messages_for :upload %>

<% opts = {
  as: 'upload',
  html: {
    multipart: true,
    onsubmit: 'return check_input();',
    class: 'edit-form'
  }
} %>
<%= form_for @upload, opts do |f|%>
  <%= render_section Upload, 'object_obligatory!', f: f %>
  <p><br/></p>
<% end -%>
