<!DOCTYPE html>
<html>
<head>
  <title><%= I18n.t('pages.indexing_status') %></title>

  <%= render :partial => 'shared/layout/head' %>
  
  <%= csrf_meta_tags %>
</head>
<body>
  <div is="pm-indexing-page" />
</body>
</html>