<p class="icon_box note">
  Please note that any settings you make here will only be in effect for
  the <strong>current session</strong>. They will not be persistent.
  <%= link_to 'Log in with your personal account', login_path %>
  to have your settings personalized.
</p>
