<p class="icon_box note">
  Bitte beachten Sie, dass Einstellungen, die Sie hier vornehmen, nur für die
  <strong>aktuelle Sitzung</strong> Gültigkeit haben. Sie sind nicht dauerhaft.
  <%= link_to 'Melden Sie sich mit Ihrem persönlichen Zugang an', login_path %>,
  um Ihre Einstellungen zu personalisieren.
</p>
