<tr>
  <th><%= f.label :view, 'Preferred view'.t %></th>
  <td><%= settings_select f, :view %></td>
</tr>
<tr class="scriptonly">
  <th><%= f.label :zoom, 'Zoom thumbnails?'.t %></th>
  <td><%= f.check_box :zoom %></td>
</tr>
