<%= render partial: 'edit_shared_list_settings', locals: { f: f, prefix: 'list_', label: 'collection' } %>
<tr><td colspan="2"><br class="vspace1" /><hr /><br class="vspace1" /></td></tr>
<%= render partial: 'edit_shared_list_settings', locals: { f: f, label: 'image', pagination: true } %>
<tr><td colspan="2"><br class="vspace2" /></td></tr>
<%= render partial: 'edit_shared_search_settings', locals: { f: f } %>
