<p class="sample-p">
  <% for image in images do %>
    <% si = Pandora::SuperImage.new(image['_source']['record_id']) %>
    <%= link_to(
      image_tag(si.image_url(:medium), alt: "", id: image['_source']['record_id'], class: 'sample-image'),
      {
        controller: 'images',
        action: 'show',
        id: image['_source']['record_id']
      },
      class: 'sample-link'
    ) %>
  <% end %>
</p>
