<tr>
  <th><label for="collection_keyword_list"><%= 'Keywords'.t %></label><br /><small>(<%= 'One per line'.t %>)</small></th>
  <td>
    <%= f.text_area :keyword_list, options_for_field(:keywords, :rows => 5, :value => @collection.keyword_list) %>
    <%= suggest_keywords_for 'collection', :keyword_list %>
  </td>
</tr>
