<ul>
  <% # Keep indentation as is in order that keywords show up nicely in the textarea %>
  <% @keywords.each do |keyword| %>
    <li><%= highlight(keyword.t, h(@query)) %>
<span class="informal"><br /><small><%= keyword.collections.first.title %></small></span></li>
  <% end %>
</ul>
<ul>
