<%= render_sections %w[header] %>

<%= error_messages_for :upload %>

<%= form_for @upload, url: institutional_uploads_path(@institutional_upload_database.id), :html => { :multipart => true, :onsubmit => 'return check_input();', :class => 'edit-form' } do |f| -%>
  <%= render_section Upload, 'object_obligatory!', f: f %>
  <p><br/></p>
<% end -%>
