<html>
  <head><title>[prometheus-Newsletter]</title>
    <%= render :partial => 'header_html_style' -%>
  </head>
  <body width="100%" style="background-color:#666666;" link="#DF7401" vlink="#DF7401">
    <table width="100%">
      <tr><td align="center">
          <table style="display:block; width:100%; max-width:606px;">
            <tr>
              <td style="vertical-align:top; text-align:right;">
                <h5 style="color:#303030; font-family:Arial,Helvetica,sans-serif; font-size:10px; text-align:right;">Probleme mit der Darstellung? <a style="text-decoration: none; color:#DF7401" href="<%= @newsletter_url %>">Im Browser anzeigen.</a></h5>
              </td>
            </tr>
            <tr>
              <td style="vertical-align:top;">
                <a href="<%= ENV['PM_HOME_URL'] %>"><img class="fluid-image" style="border-spacing:0px; border-bottom:2px solid #DF7401;" src="<%= @root_url_without_locale %>images/misc/logo_newsletter.jpg"></a>
              </td>
            </tr>
          </table>
