pm-live-search {
  textarea {
    min-height: 150px;
  }

  ul {
    padding-left: 0 !important;
    box-sizing: border-box;
    position: absolute;
    margin-top: -1px;
    z-index: 1000;
    max-height: 0;

    transition: max-height 0.3s ease-out;
  }

  ul.show {
    max-height: 300px;
    border: $input-border-width solid $input-focus-border-color;

    // animation: {
    //   name: max_height;
    //   delay: 0;
    //   duration: 1s;
    //   fill-mode: both;
    // };

    // animation: {
    //   name: max_height, delay_overflow;
    //   delay: 0, 1s;
    //   duration: 1s, 0.5s;
    //   fill-mode: both, both;
    // };
  }

  li {
    display: flex;
    flex-direction: row;
    padding: 10px;
    user-select: none;
    cursor: pointer;

    img {
      max-width: 40px;
      max-height: 40px;
      display: block;
      margin-right: 8px;
    }
  }

  li.selected {
    background-color: #363636;
  }

  .debug {
    font-size: $small-font-size;
    z-index: 0;
  }
}

// @keyframes delay_overflow {
//   from {overflow-y: hidden;}
//   to {overflow-y: auto;}
// }

// @keyframes max_height {
//   from {max-height: 0;}
//   to {max-height: '300px';}
// }
