.slider-wrapper {
  position: relative;
  padding: 40px 30px 50px 30px;
  margin-left: 5px;
  overflow: hidden;
}

.noUi-connect {
  background-color: #FF9933;
}

.noUi-value-horizontal {
  padding: 5px;
}
